<div class="container">
  <h2>MealPlanner!</h2>
  <div class="table-responsive">          
  <table class="table">
    <thead>
      <tr>
        <th>Meal</th>
        <th>Monday</th>
        <th>Tuesday</th>
        <th>Wednesday</th>
        <th>Thursday</th>
        <th>Friday</th>
        <th>Saturday</th>
        <th>Sunday</th>
      </tr>
    </thead>
    <tbody>
      <tr class="cal-row">
        <td><strong>Breakfast</strong></td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
        <td>meal</td>
        <td>Meal</td>
      </tr>
            <tr class="cal-row">
        <td><strong>Lunch</strong></td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
        <td>meal</td>
        <td>Meal</td>
      </tr>
            <tr class="cal-row">
        <td><strong>Dinner</strong></td>
        <td>Anna</td>
        <td>Pitt</td>
        <td>35</td>
        <td>New York</td>
        <td>USA</td>
        <td>meal</td>
        <td>Meal</td>
      </tr>
    </tbody>
  </table>
  </div>
</div>
