<div class="table-container">
  <div class="row">
    <div class="col-md-6 " id="list" data-recipeId={{recipe.dataValues.recipeID}}>

      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">Product Name</th>
            <th scope="col">Amount Needed</th>
          </tr>
        </thead>
        <tbody id="tableBody">

        </tbody>
      </table>

      <button type="button" class="btn btn-success" href="/groceryList">ADD TO GROCERY LIST</button>
    </div>

  </div>
</div>



<script src="/js/ingredients.js"></script>