<div id="mealPlan">
    <div class="container">
        <div class="row">
            <div class="col-8 offset-2">
                <h2>Feed Me!</h2>
                <form class="clearfix mb-4">
                    <div class="form-group">
                        <label for="search-text">Search for food</label>
                        <input type="text" id="search-text" class="form-control" aria-describedby="search-text"
                        placeholder="What do you want to eat?">
                        
                    </div>
                    <button id="submit" class="btn btn-primary float-right">Submit</button>
                </form>
            </div>
        </div>
        <div class="output">

        </div>
    </div>
    <div class="modal fade" id="recipeModal" role="dialog" aria-labelledby="recipeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title"></h5>
                </div>
                <div id="bigImage">
                    <img id="modalImage">
                </div>
                <hr>
                <p id="timeinfo"> &nbsp; &nbsp;Serves: <span id="servingSize"></span> &nbsp; &nbsp; &nbsp; Ready in:
                    <span id="time"></span> mins</p>
                <hr>
                <h3 id="instructions">Recipe Instructions</h3>
                <div id="infoHolder">

                </div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Day
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" id="day">
                        <li><a href="#">Sunday</a></li>
                        <li><a href="#">Monday</a></li>
                        <li><a href="#">Tuesday</a></li>
                        <li><a href="#">Wednesday</a></li>
                        <li><a href="#">Thursday</a></li>
                        <li><a href="#">Friday</a></li>
                        <li><a href="#">Saturday</a></li>

                    </ul>
                </div>
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Time
                        <span class="caret"></span></button>
                    <ul class="dropdown-menu" id="time">
                        <li><a href="#">Breakfast</a></li>
                        <li><a href="#">Lunch</a></li>
                        <li><a href="#">Dinner</a></li>
                    </ul>
                </div>
                <button id="ingSubmit" class="btn btn-primary">Get Ingredient List</button>
            </div>
            
        </div>
        

    </div>
</div>

<script src="/js/index.js"></script>

