.list-group-item {
  line-height: 2.5;
}

.title {
  margin: 40px;
  text-align: center;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient( rgb(61, 61, 61), rgb(43, 219, 43));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
