.list-group-item {
  line-height: 2.5;
}

#header {
  font-weight: bold;
  margin: 10%;
  font-size: 150%;
}

#headline{
    
  text-align: center;
  font-family: 'Beth Ellen', cursive;
  font-size: 290%;
  font-weight: bold;
  
  
  
}

#monster {
 
  width: 195px;
  height: 190px;
  margin: 18px;
  

}
 #header {
  position: relative;
  top: 18px;
 margin: 0;
 }

 img {
   width: 100%;
 }

#scrolltohere {
  margin: 30% 0;
}

#submit {
  width: 20%;
  margin: 0 35%;
  color: white;
  text-decoration: none;
  cursor: pointer;
}

#search-text {
  padding: 20px;
}

#mypage {
  margin: 10% 20%;
}

#collapseResult {
  width: 90%;
  margin: 10px 80px 0px 80px;
}

#dButton {
  width: 15%;
  margin: 4px;
}

#tButton {
  width: 15%;
  margin: 4px;
}

#day {

  margin: 4px;
  text-align: center;
}

#day li a {
  text-decoration: none;
  color: black;


}
#time {

  margin: 4px;
  text-align: center;
}

#time li a {
  text-decoration: none;
  color: black;

}

#ingSubmit {
  width: 30%;
  margin: 4px;
}
.output {
  float: right;
}
.dropdown {
  display: inline;
}

#dropdown {
  display: inline;
}
 
.apiContent {
  width: 15%;
  
  margin: 7px 10px;


  display: inline-block;
  box-sizing: border-box;
  text-align: justify;
  font-size: 80%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;
}
#instructions {
  text-align: center;
}
#timeinfo {
  text-align: center;
  
.modal-dialog {

  width: 600px;
  height: 100px;
} */
.title {
  margin: 40px;
  text-align: center;
}

h1 {
  font-size: 72px;
  background: -webkit-linear-gradient(rgb(61, 61, 61), rgb(43, 219, 43));
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
}
.cal-row {
  box-sizing: border-box;
  width: 300px;
  height: 300px;
  border: 5px solid black;
}

td {
  border: 1px black solid;
}

.list-group-item {
  line-height: 2.5;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
}
*/
  #login
  #signup
  .container
  #login-row
  #signup-row
  #login-column
  #signup-column
  #login-box
  #signup-box {
  margin-top: 120px;
  max-width: 600px;
  height: 320px;
  border: 1px solid #9c9c9c;
}
#login
  #signup
  .container
  #login-row
  #signup-row
  #login-column
  #signup-column
  #login-form
  #signup-form {
  padding: 20px;
}
#login
  #signup
  .container
  #login-row
  #signup-row
  #login-column
  #signup-column
  #login-form
  #signup-form
  #register-link {
  margin-top: -85px;
}
#or {
  position: center;
}

#canvas-image {
  position: absolute;
  display: block;
  width: 100%;
  height: 30%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -9000;
  padding: 20px;
}

#logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
  height: 115px;

}
